<div class="w-1/4 h-96 flex flex-col items-center overflow-hidden w-full rounded-lg bg-myviolet2 cursor-pointer shadow-md">
    <!-- <div class="w-full h-full">
      <img class="h-full w-full object-cover" [src]="image" alt="" />
  </div> -->
  <div class="px-5 h-full bg-myviolet w-full">
      <!-- <p class="flex items-center justify-center text-xl lg:text-3xl font-bold text-white h-[60px]">{{number}}</p> -->
      <p class="pb-5 text-center text-xl lg:text-3xl font-bold text-white">Quel est le nombre total de produits vendus ?</p>
  </div>
</div><app-card-question></app-card-question>