<div class="p-20 h-screen w-full bg-slate-600 flex flex-col">
  <div class="h-1/4">
    <h1 class="text-8xl font-grotesk font-extrabold text-white">Data Analyse</h1>
    <h1 class="text-8xl font-grotesk font-extrabold text-mybleu1">Project</h1>
  </div>

  <div class="flex items-center justify-center gap-32 lg:gap-40 h-3/4">
    <div class="flex flex-col items-center justify-center gap-5 w-[150px]">
      <img src="/img/icon2-bleu.png" class="object-cover h-24 2xl:h-40" alt="" />
      <span class="text-2xl text-white text-center font-grotesk">
        <app-countup
          [startValue]="0"
          [endValue]="3200000000"
          [duration]="2"
        ></app-countup>
        customers
      </span>
    </div>
    <div class="flex flex-col items-center justify-center gap-5 w-[150px]">
      <img src="/img/icon-bleu.png" class="object-cover h-24 2xl:h-40" alt="" />
      <span class="text-2xl text-white text-center font-grotesk">
        <app-countup
          [startValue]="0"
          [endValue]="250540400"
          [duration]="2"
        ></app-countup>
        products
      </span>
    </div>
    <div class="flex flex-col items-center justify-center gap-5 w-[150px]">
      <img src="/img/icon3-bleu.png" class="object-cover h-24 2xl:h-40" alt="" />
      <span class="text-2xl text-white text-center font-grotesk">
        <app-countup
          [startValue]="0"
          [endValue]="1"
          [duration]="1"
        ></app-countup>
        store
      </span>
    </div>
  </div>
</div>


<section class="flex w-full items-center justify-start h-screen p-20">
  <div class="w-1/2 2xl:p-40"><app-title-big></app-title-big></div>
  <div class="w-1/2"><img class="object-cover" src="/img/consumers.png" alt="" /></div>

</section>

<section class="flex items-center justify-center lg:h-screen w-full gap-10 xl:gap-20 bg-slate-100 p-20">
  <div class="flex-1 h-2/3">
    <app-card-home
      (click)="navigate()"
      image="/img/stocks.jpg"
      title="Optimized stock management through sales analysis"
      [number]="1"
    ></app-card-home>
  </div>

  <div class="flex-1 h-2/3">
    <app-card-home
      image="/img/decision.jpg"
      title="Improved store organization through the analysis of purchase associations"
      [number]="2"
    ></app-card-home>
  </div>

  <div class="flex-1 h-2/3">
    <app-card-home
    image="/img/stars.jpg"
    title="Raising awareness of sustainable shopping practices by segmenting users"
    [number]="3"
  ></app-card-home>
  </div>

</section>
